@use "./vars.scss" as *;

.skills {
  @include headStyle;
  .tool {
    &:hover {
      .img {
        background-color: $secondColor;
        img {
          filter: grayscale(0%);
          transform: scale(1.2);
        }
      }
    }
    .img {
      background-color: #f1f1f1;
      border-radius: 20px;
      padding: 50px 30px;
      transition: 0.5s;
      img {
        max-width: 60px;
        filter: grayscale(80%);
        transition: 0.4s;
      }
    }
    .text {
      h4 {
        font-size: 17px;
      }
    }
  }
}
